  <html lang="en">
      <head>
    <script>
   

    </script>
    </head>
    <body>
      

      <input type="radio" name="filter" value="below30" onchange="externalFilterChanged('below30')"/> Below 30
        <!-- <input type="radio"  value="beef" (change)="externalFilterChanged('below30')"> Beef-->
        <ag-grid-angular 
          #agGrid
          class="ag-theme-balham"
          style="width: 500px; height: 200px;" 
          [defaultColDef]="defaultColDef"
          [rowData]="carList | async"
          [columnDefs]="columnDefs"
          [domLayout] = "autoHeight"
          >
        </ag-grid-angular>
    </body>
    </html>